body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 0; /* Remove default margin */
    height: 100%; /* Set height to 100% of the viewport height */
    width: 100%; /* Set width to 100% of the viewport width */
    /*overflow-x: hidden;  Prevent horizontal scrolling */
    background-image: url(yu-kato-824OwkP7sgk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* NAV BAR */
.container {
    display: inline;
    margin: 0 auto;
}

.container h1{
    display: inline;
    font: 2em bolder;
    font-style: italic;
    color: yellow;
    background-color: rgba(8, 2, 2, 0.7);
}
.container nav{
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
}
.container nav ul li {
    list-style: none;
    text-decoration: underline;
    display: inline;
    font: bold;
    margin-right: 10px;
}

#search {
    display: inline;
}

#search input, #search button{
    border-radius: 8%;
    box-shadow: 2% 3% 3% 2%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.container nav ul li a {
    text-decoration: none;
}

/* HOME LAYOUT*/
.content {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    
}

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}


.wrapper h1{
    font: larger, bolder;
    border: solid 2px yellow;
}

.wrapper p{
    font-weight: bold;
    font-size: medium;
    border: solid 2px yellow;
}

.wrapper button{
    border-radius: 20%;
    box-shadow: 2% 3%;
    background-color: blue;
    font-weight: bold;
}

#showResults {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
}

button:hover {
    background-color: rgb(67, 245, 67);
}

button:active {
    background-color: rgb(83, 83, 238);
}